{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <form class="col-4 p-md-5 border rounded-3 bg-light" action="/buy/{{ s_id }}/{{ p_id }}" method="post">
            <h2>{{ product.p_name }}</h2>
            <input type="text" readonly class="form-control-plaintext" id="count" value="{{ count }}">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <input type="submit" class="btn btn-outline-primary" value="+" name="plus">
                <input type="submit" class="btn btn-outline-primary" value="-" name="sub">
            </div>
            <input type="text" readonly class="form-control-plaintext" id="price" value="{{ count* product.price }}">
            <button type="submit" class="btn btn-primary">구매하기</button>
        </form>
    </div>
{% endblock %}



