{% extends 'base.html' %}

{% block content %}

    <div class="py-3 text-center">
      <h2>스토어 등록</h2>
      <p class="lead">스토어 등록을 위해 아래 항목을 작성해 주세요.</p>
    </div>

    <div class="row justify-content-center">
        <form class="col-4 p-md-5 border rounded-3 bg-light" action="/sregister" method="post">
            <div class="mb-3">
                <label for="sId" class="form-label">스토어 아이디</label>
                <input type="text" class="form-control" id="sId" aria-describedby="sIdHelp" name="sId">
                <div id="sIdHelp" class="form-text">스토어 접속을 위한 아이디 입력.</div>
            </div>
            <div class="mb-3">
                <label for="sName" class="form-label">스토어 이름</label>
                <input type="text" class="form-control" id="sName" name="sName">
            </div>
            <div class="mb-3">
                <label for="locate" class="form-label">지역</label>
                <input type="text" class="form-control" id="locate" name="locate">
            </div>
            <div class="mb-3">
                <label for="sPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="sPassword" name="sPassword">
                </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="aiotCheck">
                <label class="form-check-label" for="aiotCheck">Aiot에 동의</label>
                </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
